.verti-egg {
	width: 30px;
    height: 50px;
    margin: 5px;

	-webkit-border-radius: 50%/60% 60% 40% 40%;
	-moz-border-radius: 50%/60% 60% 40% 40%;
	border-radius: 50%/60% 60% 40% 40%;

	-webkit-box-shadow: 0px 0px 20px #D5D3D3, 0px 0px 20px #D5D3D3;
	-moz-box-shadow: 0px 0px 20px #D5D3D3, 0px 0px 20px #D5D3D3;
    box-shadow: 0px 0px 20px #D5D3D3, 0px 0px 20px #D5D3D3;
    
    display: inline-block;
    position: relative;
}